In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("MySQL to Spark") \
    .config("spark.driver.extraClassPath", "mysql-connector-j-8.0.33.jar") \
    .getOrCreate()

url = "jdbc:mysql://192.168.23.22:3306/bi_data_analyst"
properties = {
    "user": "traht",
    "password": "qCJtXpUrhVPca9WZ5n47",
    "driver": "com.mysql.jdbc.Driver" 
}

Picked up _JAVA_OPTIONS: -Djava.io.tmpdir=/data/jupyterhub/tmp
Picked up _JAVA_OPTIONS: -Djava.io.tmpdir=/data/jupyterhub/tmp
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/21 17:53:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
query = """(SELECT 
            date, total_user, new_user, continue_user, pageview, site, type, session, duration, to_post, to_cate 
            FROM website_overview) 
            AS subquery"""
df_overview = spark.read.jdbc(url=url, table=query, properties=properties)

df_overview.show()

Loading class `com.mysql.jdbc.Driver'. This is deprecated. The new driver class is `com.mysql.cj.jdbc.Driver'. The driver is automatically registered via the SPI and manual loading of the driver class is generally unnecessary.

+-------------------+----------+--------+-------------+--------+------+------+-------+--------+-------+-------+
|               date|total_user|new_user|continue_user|pageview|  site|  type|session|duration|to_post|to_cate|
+-------------------+----------+--------+-------------+--------+------+------+-------+--------+-------+-------+
|2021-11-05 00:00:00|    230110|  116594|        39696|  350631|  genk|mobile| 245594|      63|   NULL|   NULL|
|2021-11-05 00:00:00|     47741|   13261|        16396|  107500|  genk|    pc|  98102|     137|   NULL|   NULL|
|2021-11-02 00:00:00|     44136|   12024|        16437|  105282|  genk|    pc|  91768|     146|   NULL|   NULL|
|2021-11-03 00:00:00|    322465|  177895|        46426|  448031|  genk|mobile| 336276|      56|   NULL|   NULL|
|2021-11-02 00:00:00|    159782|   86123|        29435|  263225|  genk|mobile| 163083|      73|   NULL|   NULL|
|2021-11-03 00:00:00|     55461|   16746|        17071|  115814|  genk|    pc| 107415|     127|   NULL|   NULL|
|2021-11-06 00:00:00|    342113|  103535|       185619| 1797620|kenh14|    pc| 431114|     334|   NULL|   NULL|
|2021-11-06 00:00:00|   2250134| 1302489|       813907| 7118697|kenh14|mobile|2734247|     192|   NULL|   NULL|
|2021-11-06 00:00:00|     38660|   11963|        12964|   83875|  genk|    pc|  75570|     129|   NULL|   NULL|
|2021-11-06 00:00:00|    220347|  112746|        39130|  342555|  genk|mobile| 232029|      68|   NULL|   NULL|
|2021-11-06 00:00:00|    124413|   37825|        65630|  601067| cafef|    pc| 191322|     289|   NULL|   NULL|
|2021-11-06 00:00:00|    965099|  469030|       235621| 1847667| cafef|mobile|1084720|     104|   NULL|   NULL|
|2021-11-05 00:00:00|   2369058| 1329054|       866094| 7554314|kenh14|mobile|2899336|     198|   NULL|   NULL|
|2021-11-05 00:00:00|    437211|  121849|       253581| 2601675|kenh14|    pc| 600880|     373|   NULL|   NULL|
|2021-11-02 00:00:00|    434421|  122181|       250536| 2534503|kenh14|    pc| 605336|     365|   NULL|   NULL|
|2021-11-03 00:00:00|   2426164| 1372025|       881329| 7615638|kenh14|mobile|2964230|     193|   NULL|   NULL|
|2021-11-02 00:00:00|   2298129| 1304058|       836913| 7174719|kenh14|mobile|2790873|     195|   NULL|   NULL|
|2021-11-03 00:00:00|    438261|  122303|       251725| 2564427|kenh14|    pc| 608951|     359|   NULL|   NULL|
|2021-11-04 00:00:00|   2515297| 1422038|       876996| 7572191|kenh14|mobile|3015742|     186|   NULL|   NULL|
|2021-11-04 00:00:00|    442957|  124625|       252529| 2564809|kenh14|    pc| 607618|     358|   NULL|   NULL|
+-------------------+----------+--------+-------------+--------+------+------+-------+--------+-------+-------+
only showing top 20 rows

In [4]:
#Overview theo ng√†y
from pyspark.sql.functions import *

df_overview = df_overview.withColumn('new_user_pct', col('new_user') / col('total_user'))\
                        .withColumn('continue_user_pct', col('continue_user') / col('total_user'))\
                        .withColumn('duration_mins', col('duration') / 60)\
                        .withColumn('page_per_session', col('pageview') / col('session'))

result_df = df_overview.groupBy('date', 'site').agg(
    {'total_user': 'avg',
     'new_user_pct': 'avg',
     'continue_user_pct': 'avg',
     'duration_mins': 'avg',
     'page_per_session': 'avg',
     'session': 'avg',
     'pageview': 'avg'})

# Hi·ªÉn th·ªã k·∫øt qu·∫£
result_df = result_df.orderBy('date')
result_df.show()

+-------------------+-------+-------------------+---------------+------------------+----------------------+---------------------+------------+-------------+
|               date|   site|  avg(new_user_pct)|avg(total_user)|avg(duration_mins)|avg(continue_user_pct)|avg(page_per_session)|avg(session)|avg(pageview)|
+-------------------+-------+-------------------+---------------+------------------+----------------------+---------------------+------------+-------------+
|2021-09-30 00:00:00|afamily|0.33297254795519104|       383121.0| 3.408333333333333|    0.3765062180160217|   2.7522405882498404|    484888.0|    1087940.0|
|2021-09-30 00:00:00|cafebiz|0.35476807594067605|       198767.0|              2.15|    0.3113360167347009|    1.876944933273877|    229676.0|     353648.5|
|2021-10-01 00:00:00|afamily| 0.3448233800960743|       339037.0|3.5166666666666666|   0.37917665150928115|     2.82892906029468|    436593.0|    1018885.5|
|2021-10-01 00:00:00|cafebiz| 0.3327040294301497|       175062.0|2.2333333333333334|    0.3290496748793329|   1.9639017865450852|    201503.0|     321780.0|
|2021-10-02 00:00:00|afamily| 0.3761664655997331|       301865.5|3.2916666666666665|   0.35491523411178516|   2.7432993245748247|    385212.0|     912817.5|
|2021-10-02 00:00:00|cafebiz| 0.3228115600612447|       174698.5| 2.166666666666667|    0.3264543794180816|   1.9491503573786322|    198769.0|     306614.5|
|2021-10-03 00:00:00|cafebiz|0.34579473000429817|       179090.5|               2.2|    0.3225642469644562|   1.9535616280086567|    206026.0|     320110.0|
|2021-10-03 00:00:00|afamily| 0.4113735726915756|       292895.5|2.9416666666666664|   0.34716719794705586|   2.6209525867804127|    375305.5|     870475.5|
|2021-10-04 00:00:00|cafebiz| 0.3388017396396094|       250210.0| 2.216666666666667|    0.3184485169697988|   1.9005072219854273|    286986.5|     441885.0|
|2021-10-04 00:00:00|afamily| 0.3840130168753979|       319913.0|               3.5|    0.3661450070110347|   2.8723308752576386|    394441.5|     980520.5|
|2021-10-05 00:00:00|afamily| 0.3901131564312208|       335010.5| 3.433333333333333|    0.3453225171442531|    2.779592822395009|    415037.0|     968108.5|
|2021-10-05 00:00:00|cafebiz|0.36065641727503245|       219612.0|2.2416666666666667|   0.29925573036361064|   1.8422337836726554|    249427.0|     379138.5|
|2021-10-06 00:00:00|afamily|0.35132548096715627|       314140.5|3.7583333333333337|    0.3762954143992283|    2.948372440793417|    398734.0|     942330.0|
|2021-10-06 00:00:00|cafebiz|0.34461307422959436|       183004.5| 2.333333333333333|    0.3106417642111056|   1.8769798981186236|    208260.5|     323837.5|
|2021-10-07 00:00:00|cafebiz| 0.3199081710378183|       220575.5|              2.35|    0.3069381461483162|    1.867853535206802|    251078.5|     373579.0|
|2021-10-07 00:00:00|afamily|0.37756870314165625|       309372.0|3.7666666666666666|   0.37817614370054886|   2.9881278898803942|    398130.0|     967363.5|
|2021-10-08 00:00:00|cafebiz|0.34475541159979073|       178832.0|              2.45|    0.3065710481104021|   1.8864701992600477|    205405.5|     315150.0|
|2021-10-08 00:00:00|afamily| 0.3554219206679293|       290098.0|               3.8|    0.3881920429934962|   2.9572885010578025|    376157.0|     929556.5|
|2021-10-09 00:00:00|afamily| 0.3784477850605542|       271582.0|3.4916666666666663|   0.36662167079858876|    2.893771823137887|    345676.5|     845991.0|
|2021-10-09 00:00:00|cafebiz|  0.367403471568635|       142333.0| 2.441666666666667|   0.30662509448294384|   1.8968747021820433|    163899.0|     259119.0|
+-------------------+-------+-------------------+---------------+------------------+----------------------+---------------------+------------+-------------+
only showing top 20 rows

In [5]:
#H√†nh ƒë·ªông c·ªßa user sau khi v√†o home

from pyspark.sql.functions import *

# L·ªçc d·ªØ li·ªáu ƒë·ªÉ gi·ªØ l·∫°i c√°c h√†ng m√† c√≥ gi√° tr·ªã kh√¥ng ph·∫£i NaN trong c·ªôt 'to_post' ho·∫∑c 'to_cate'
filtered_df = df_overview.filter(col('to_post').isNotNull() | col('to_cate').isNotNull())

# Nh√≥m d·ªØ li·ªáu theo c·ªôt 'date' v√† t√≠nh t·ªïng c√°c gi√° tr·ªã c·ªßa c·ªôt 'to_post' v√† 'to_cate'
grouped_df = filtered_df.groupBy('date').agg(
    {'to_post':'sum',
    'to_cate':'sum'})

grouped_df_sorted = grouped_df.orderBy('date')

grouped_df_sorted.show()

+-------------------+------------+------------+
|               date|sum(to_cate)|sum(to_post)|
+-------------------+------------+------------+
|2021-11-07 00:00:00|      211793|     2633487|
|2021-11-08 00:00:00|      345417|     3134895|
|2021-11-09 00:00:00|      327180|     3787850|
|2021-11-10 00:00:00|      319941|     3652674|
|2021-11-11 00:00:00|      315802|     2946177|
|2021-11-12 00:00:00|      316640|     3127124|
|2021-11-13 00:00:00|      213333|     2602316|
|2021-11-14 00:00:00|      205537|     2690300|
|2021-11-15 00:00:00|      332834|     3214854|
|2021-11-16 00:00:00|      324891|     3240776|
|2021-11-17 00:00:00|      308997|     2906340|
|2021-11-18 00:00:00|      337807|     3177401|
|2021-11-19 00:00:00|      326180|     2904908|
|2021-11-20 00:00:00|      215874|     2541697|
|2021-11-21 00:00:00|      200250|     2511205|
|2021-11-22 00:00:00|      319545|     3305877|
|2021-11-23 00:00:00|      311693|     3515077|
|2021-11-24 00:00:00|      320073|     3210099|
|2021-11-25 00:00:00|      303417|     3215353|
|2021-11-26 00:00:00|      284561|     2926044|
+-------------------+------------+------------+
only showing top 20 rows

In [6]:
#[K·∫øt qu·∫£ kh√¥ng h·ª£p l√Ω*******]

from pyspark.sql.functions import col, expr, date_format, lit, concat, format_number, year, weekofyear

# Chuy·ªÉn ƒë·ªïi c·ªôt 'date' th√†nh ki·ªÉu timestamp
df_overview = df_overview.withColumn("date", col("date").cast("timestamp"))

# T·∫°o c·ªôt 'week' theo ƒë·ªãnh d·∫°ng tu·∫ßn/nƒÉm, kh√¥ng c√≥ ph·∫ßn th·∫≠p ph√¢n
df_overview = df_overview.withColumn("week", 
    concat(
        format_number(weekofyear(col("date")), 0),  # ƒê·∫£m b·∫£o kh√¥ng c√≥ ph·∫ßn th·∫≠p ph√¢n
        lit('/'),
        year(col("date"))
    )
)

# T√≠nh to√°n 'start_date' v√† 'end_date'
df_overview = df_overview.withColumn("start_date", expr("date_sub(date, dayofweek(date))"))
df_overview = df_overview.withColumn("end_date", expr("date_add(start_date, 6)"))

# T·∫°o c·ªôt 'date_range'
df_overview = df_overview.withColumn("date_range", 
    concat(
        date_format(col("start_date"), 'dd/MM'),
        lit('-'),
        date_format(col("end_date"), 'dd/MM')
    )
)

# T√≠nh to√°n 'duration_mins' v√† 'page_per_session'
df_overview = df_overview.withColumn("duration_mins", col("duration") / 60)
df_overview = df_overview.withColumn("page_per_session", 
    when(col("session") > 0, col("pageview") / col("session")).otherwise(lit(None))
)

# Nh√≥m d·ªØ li·ªáu theo c√°c c·ªôt v√† t√≠nh trung b√¨nh
group_df = df_overview.groupBy('week', 'date','date_range', 'start_date').agg(
    {'session': 'avg',
     'pageview': 'avg',
     'duration_mins': 'avg',
     'page_per_session': 'avg'}
)

# ƒê·ªïi t√™n c√°c c·ªôt
group_df = group_df.withColumnRenamed('avg(session)', 'session') \
                   .withColumnRenamed('avg(pageview)', 'pageview') \
                   .withColumnRenamed('avg(duration_mins)', 'duration_mins') \
                   .withColumnRenamed('avg(page_per_session)', 'page_per_session')

# S·∫Øp x·∫øp theo c·ªôt 'start_date'
group_df_sorted = group_df.orderBy('start_date')

# Hi·ªÉn th·ªã k·∫øt qu·∫£
group_df_sorted.show(truncate=False)

+-------+-------------------+-----------+----------+------------------+------------------+------------------+------------------+
|week   |date               |date_range |start_date|duration_mins     |session           |page_per_session  |pageview          |
+-------+-------------------+-----------+----------+------------------+------------------+------------------+------------------+
|39/2021|2021-10-01 00:00:00|25/09-01/10|2021-09-25|2.8749999999999996|319048.0          |2.3964154234198825|670332.75         |
|39/2021|2021-10-02 00:00:00|25/09-01/10|2021-09-25|2.729166666666667 |291990.5          |2.3462248409767286|609716.0          |
|39/2021|2021-09-30 00:00:00|25/09-01/10|2021-09-25|2.779166666666667 |357282.0          |2.3145927607618586|720794.25         |
|39/2021|2021-10-03 00:00:00|02/10-08/10|2021-10-02|2.5708333333333333|290665.75         |2.287257107394535 |595292.75         |
|40/2021|2021-10-07 00:00:00|02/10-08/10|2021-10-02|3.0583333333333336|324604.25         |2.4279907125435978|670471.25         |
|40/2021|2021-10-09 00:00:00|02/10-08/10|2021-10-02|2.966666666666667 |254787.75         |2.3953232626599648|552555.0          |
|40/2021|2021-10-06 00:00:00|02/10-08/10|2021-10-02|3.0458333333333334|303497.25         |2.41267616945602  |633083.75         |
|40/2021|2021-10-05 00:00:00|02/10-08/10|2021-10-02|2.8375            |332232.0          |2.310913303033832 |673623.5          |
|40/2021|2021-10-04 00:00:00|02/10-08/10|2021-10-02|2.8583333333333334|340714.0          |2.386419048621533 |711202.75         |
|40/2021|2021-10-08 00:00:00|02/10-08/10|2021-10-02|3.125             |290781.25         |2.421879350158925 |622353.25         |
|41/2021|2021-10-15 00:00:00|09/10-15/10|2021-10-09|2.661111111111111 |265335.3333333333 |2.041840285236811 |511279.6666666667 |
|41/2021|2021-10-12 00:00:00|09/10-15/10|2021-10-09|2.7416666666666667|235517.83333333334|2.1013634453098406|476885.0          |
|40/2021|2021-10-10 00:00:00|09/10-15/10|2021-10-09|2.7458333333333336|272192.25         |2.306984107648468 |582025.25         |
|41/2021|2021-10-16 00:00:00|09/10-15/10|2021-10-09|2.438888888888889 |245727.66666666666|1.9800298793168791|469496.3333333333 |
|41/2021|2021-10-14 00:00:00|09/10-15/10|2021-10-09|2.680555555555556 |282744.1666666667 |2.0733365106798183|545456.8333333334 |
|41/2021|2021-10-11 00:00:00|09/10-15/10|2021-10-09|3.1333333333333333|290208.25         |2.4847958915913693|638656.0          |
|41/2021|2021-10-13 00:00:00|09/10-15/10|2021-10-09|2.722222222222222 |237050.0          |2.0677150302949188|470042.0          |
|42/2021|2021-10-18 00:00:00|16/10-22/10|2021-10-16|3.1816666666666666|687492.5          |2.334110412874497 |1620904.4         |
|41/2021|2021-10-17 00:00:00|16/10-22/10|2021-10-16|2.1444444444444444|260988.83333333334|1.8556718138857906|486217.0          |
|42/2021|2021-10-21 00:00:00|16/10-22/10|2021-10-16|3.3402777777777772|715495.1666666666 |2.3718144977510023|1671230.5833333333|
+-------+-------------------+-----------+----------+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [7]:
#Import website_news_info

query = """(SELECT 
            newsid,sourceNews, url, title, publish_date,publish_hour,publish_week,category
            FROM  website_news_info) 
            AS subquery"""
df_info = spark.read.jdbc(url=url, table=query, properties=properties)

df_info.show()

+------------------+----------+--------------------+--------------------+-------------------+------------+------------+----------+
|            newsid|sourceNews|                 url|               title|       publish_date|publish_hour|publish_week|  category|
+------------------+----------+--------------------+--------------------+-------------------+------------+------------+----------+
|176231219171932713|   cafebiz|https://cafebiz.v...|L∆∞·ªùi v·ª©t r√°c, ƒëam...|2024-04-14 00:00:00|          15|     15/2024|      S·ªëng|
|176231222230803748|   cafebiz|https://cafebiz.v...|Hoa kh√¥i ƒë·∫°i h·ªçc ...|2024-02-23 00:00:00|          16|     08/2024|      S·ªëng|
|176231228214247919|   cafebiz|https://cafebiz.v...|Nu√¥i con gi√†u v√† ...|2024-03-31 00:00:00|          15|     13/2024|      S·ªëng|
|176240219145418717|   cafebiz|https://cafebiz.v...|ƒê√†n √¥ng sau 35 tu...|2024-03-30 00:00:00|          16|     13/2024|      S·ªëng|
|176240219152001203|   cafebiz|https://cafebiz.v...|35 tu·ªïi l√† m·ªôt c·ªô...|2024-03-19 00:00:00|          15|     12/2024|      S·ªëng|
| 17624022116384174|   cafebiz|https://cafebiz.v...|ƒê√†n √¥ng tr√™n 35 t...|2024-02-26 00:00:00|          14|     09/2024|      S·ªëng|
|176240222102314287|   cafebiz|https://cafebiz.v...|Gi·ªèi chi·∫øm d·ª•ng v...|2024-03-03 00:00:00|           8|     09/2024|Kinh doanh|
|176240222195528519|   cafebiz|https://cafebiz.v...|VinFast mang v·ªÅ 1...|2024-02-29 00:00:00|          21|     09/2024|Kinh doanh|
|176240223065807506|   cafebiz|https://cafebiz.v...|B√† Nguy·ªÖn Ph∆∞∆°ng ...|2024-02-23 00:00:00|           6|     08/2024|    X√£ h·ªôi|
|176240223065947641|   cafebiz|https://cafebiz.v...|Kh·ªüi t·ªë n·ªØ ch·ªß h·ª•...|2024-02-23 00:00:00|           7|     08/2024|    X√£ h·ªôi|
|176240223070028419|   cafebiz|https://cafebiz.v...|V√© m√°y bay 'cƒÉng ...|2024-02-23 00:00:00|           7|     08/2024|    X√£ h·ªôi|
|176240223070139367|   cafebiz|https://cafebiz.v...|"X·ª≠ l√Ω vi ph·∫°m n·ªì...|2024-02-23 00:00:00|           7|     08/2024|    X√£ h·ªôi|
|176240223070640817|   cafebiz|https://cafebiz.v...|Thanh tra nhi·ªÅu d...|2024-02-23 00:00:00|           7|     08/2024|Kinh doanh|
|176240223070736478|   cafebiz|https://cafebiz.v...|Cu·ªôc s·ªëng ti·∫øt ki...|2024-02-23 00:00:00|           7|     08/2024|      S·ªëng|
| 17624022307082865|   cafebiz|https://cafebiz.v...|D√π ngh√®o ƒë·∫øn ƒë√¢u ...|2024-02-23 00:00:00|           7|     08/2024|      S·ªëng|
|176240223070911262|   cafebiz|https://cafebiz.v...|D√¢n vƒÉn ph√≤ng min...|2024-02-23 00:00:00|           8|     08/2024|      S·ªëng|
|176240223071022831|   cafebiz|https://cafebiz.v...|C√≥ n√™n cho con c√°...|2024-02-23 00:00:00|           8|     08/2024|      S·ªëng|
|176240223071148273|   cafebiz|https://cafebiz.v...|Sau 70 tu·ªïi, ƒëi b...|2024-02-23 00:00:00|           8|     08/2024|      S·ªëng|
|176240223071241684|   cafebiz|https://cafebiz.v...|Ng∆∞·ªùi sinh ng√†y √Ç...|2024-02-23 00:00:00|           8|     08/2024|      S·ªëng|
|176240223072700393|   cafebiz|https://cafebiz.v...|B·∫ßu ƒê·ª©c chia s·∫ª m...|2024-02-23 00:00:00|           7|     08/2024|Kinh doanh|
+------------------+----------+--------------------+--------------------+-------------------+------------+------------+----------+
only showing top 20 rows

In [8]:
#S·∫£n l∆∞·ª£ng post theo ng√†y

from pyspark.sql.functions import countDistinct
group_df=df_info.groupBy('publish_date').agg(countDistinct('newsid').alias('newsid')).orderBy('publish_date')
group_df.show()

+-------------------+------+
|       publish_date|newsid|
+-------------------+------+
|2024-02-23 00:00:00|  1244|
|2024-02-24 00:00:00|  1036|
|2024-02-25 00:00:00|   977|
|2024-02-26 00:00:00|  1293|
|2024-02-27 00:00:00|  1335|
|2024-02-28 00:00:00|  1332|
|2024-02-29 00:00:00|  1315|
|2024-03-01 00:00:00|  1303|
|2024-03-02 00:00:00|  1039|
|2024-03-03 00:00:00|   973|
|2024-03-04 00:00:00|  1275|
|2024-03-05 00:00:00|  1345|
|2024-03-06 00:00:00|  1388|
|2024-03-07 00:00:00|  1327|
|2024-03-08 00:00:00|  1311|
|2024-03-09 00:00:00|  1091|
|2024-03-10 00:00:00|   972|
|2024-03-11 00:00:00|  1333|
|2024-03-12 00:00:00|  1292|
|2024-03-13 00:00:00|  1324|
+-------------------+------+
only showing top 20 rows

In [9]:
# #S·∫£n l∆∞·ª£ng to√†n k√™nh theo tu·∫ßn

# from pyspark.sql.functions import col, date_sub, date_add, countDistinct, dayofweek, expr

# df_info = df_info.withColumn("publish_date", col("publish_date").cast("timestamp"))

# # T√≠nh ng√†y ƒë·∫ßu tu·∫ßn (start_date)
# df_info = df_info.withColumn(
#     "start_date",
#     date_sub(col("publish_date"), dayofweek(col("publish_date")) - 1)
# )

# # T√≠nh ng√†y cu·ªëi tu·∫ßn (end_date) b·∫±ng c√°ch c·ªông th√™m 6 ng√†y v√†o start_date
# df_info = df_info.withColumn(
#     "end_date",
#     date_add(col("start_date"), 6)
# )

# # T√≠nh t·ªïng s·ªë unique newsid theo tu·∫ßn
# group_df = df_info.groupBy('publish_week', 'start_date', 'end_date').agg(
#     countDistinct('newsid').alias('newsid')
# ).orderBy(['start_date', 'newsid'], ascending=[True, False])

# group_df.show(truncate=False)

In [10]:
#L∆∞·ª£ng b√†i vi·∫øt su·∫•t b·∫£n theo chuy√™n m·ª•c

from pyspark.sql.functions import *
group_df=df_info.groupBy('publish_date','category').agg(countDistinct('newsid').alias('newsid')).orderBy(['publish_date','newsid'],ascending=[True,False])
group_df.show()

+-------------------+--------------------+------+
|       publish_date|            category|newsid|
+-------------------+--------------------+------+
|2024-02-23 00:00:00|                S·ªëng|   125|
|2024-02-23 00:00:00|              X√£ h·ªôi|   101|
|2024-02-23 00:00:00|          Kinh doanh|    84|
|2024-02-23 00:00:00|            ƒê·ªùi s·ªëng|    50|
|2024-02-23 00:00:00|            Gi·∫£i tr√≠|    46|
|2024-02-23 00:00:00|           Lifestyle|    46|
|2024-02-23 00:00:00|   T√†i ch√≠nh qu·ªëc t·∫ø|    37|
|2024-02-23 00:00:00|       Nh·ªãp s·ªëng m·ªõi|    35|
|2024-02-23 00:00:00|    Th·ªùi s·ª± - X√£ h·ªôi|    34|
|2024-02-23 00:00:00|                Star|    34|
|2024-02-23 00:00:00|            Th·ªÉ thao|    33|
|2024-02-23 00:00:00|            S·ª©c kh·ªèe|    30|
|2024-02-23 00:00:00|             Qu·ªëc t·∫ø|    30|
|2024-02-23 00:00:00|          Th·ªã tr∆∞·ªùng|    28|
|2024-02-23 00:00:00|           S·ªëng kh·ªèe|    22|
|2024-02-23 00:00:00|               Sport|    21|
|2024-02-23 00:00:00|Kinh t·∫ø vƒ© m√¥ - ƒê...|    21|
|2024-02-23 00:00:00|        B·∫•t ƒë·ªông s·∫£n|    21|
|2024-02-23 00:00:00|          H·∫≠u tr∆∞·ªùng|    21|
|2024-02-23 00:00:00|        Tri th·ª©c m·ªõi|    20|
+-------------------+--------------------+------+
only showing top 20 rows

In [11]:
#Import website_news_info

query = """(SELECT 
            date, refer, landing_page, type, site, access, new_access
            FROM  website_traffic_source) 
            AS subquery"""
df_source = spark.read.jdbc(url=url, table=query, properties=properties)

df_source.show()

+-------------------+----------+------------+------+----+------+----------+
|               date|     refer|landing_page|  type|site|access|new_access|
+-------------------+----------+------------+------+----+------+----------+
|2022-07-13 00:00:00|   statics|      detail|    pc|genk|     1|      NULL|
|2022-07-13 00:00:00|  helo-app|    category|mobile|genk|    17|        16|
|2022-07-13 00:00:00|    google|        home|mobile|genk|   763|       396|
|2022-07-13 00:00:00|      genk|        home|mobile|genk|   335|       138|
|2022-07-13 00:00:00|     adela|      detail|    pc|genk|     2|      NULL|
|2022-07-13 00:00:00|     touch|    category|mobile|genk|    96|        29|
|2022-07-13 00:00:00|     touch|      detail|mobile|genk|    74|        56|
|2022-07-13 00:00:00|     touch|      detail|    pc|genk|     5|         3|
|2022-07-13 00:00:00|     laban|        home|mobile|genk|    10|         3|
|2022-07-13 00:00:00|      bing|    category|mobile|genk|     3|         3|
|2022-07-13 00:00:00|      f247|    category|mobile|genk|     1|      NULL|
|2022-07-13 00:00:00|    ahrefs|      detail|    pc|genk|     1|      NULL|
|2022-07-13 00:00:00|brandwatch|      detail|    pc|genk|     1|      NULL|
|2022-07-13 00:00:00| workplace|      detail|    pc|genk|     3|      NULL|
|2022-07-13 00:00:00|   linkhay|      detail|    pc|genk|   247|        33|
|2022-07-13 00:00:00|    google|        home|    pc|genk|   764|       323|
|2022-07-13 00:00:00|    tiktok|    category|mobile|genk|     7|         6|
|2022-07-13 00:00:00| pinterest|    category|mobile|genk|     1|         1|
|2022-07-13 00:00:00|   cafebiz|      detail|    pc|genk|     1|         1|
|2022-07-13 00:00:00|    yandex|      detail|    pc|genk|     2|         2|
+-------------------+----------+------------+------+----+------+----------+
only showing top 20 rows

In [12]:
#L∆∞·ª£ng truy c·∫≠p theo landingpage

from pyspark.sql.functions import *
group_source = df_source.groupBy('date', 'landing_page').agg(sum('access').alias('total_access')).orderBy(['date', 'total_access'], ascending=[True, False])
group_source.show()

+-------------------+------------+------------+
|               date|landing_page|total_access|
+-------------------+------------+------------+
|2022-07-13 00:00:00|      detail|     1652375|
|2022-07-13 00:00:00|        home|      922437|
|2022-07-13 00:00:00|    category|      492154|
|2022-07-13 00:00:00|         tag|       18909|
|2022-07-14 00:00:00|      detail|     1796233|
|2022-07-14 00:00:00|        home|      902007|
|2022-07-14 00:00:00|    category|      518287|
|2022-07-14 00:00:00|         tag|       18940|
|2022-07-15 00:00:00|      detail|     1797836|
|2022-07-15 00:00:00|        home|      907339|
|2022-07-15 00:00:00|    category|      478676|
|2022-07-15 00:00:00|         tag|       19268|
|2022-07-16 00:00:00|      detail|     1691417|
|2022-07-16 00:00:00|        home|      804443|
|2022-07-16 00:00:00|    category|      408097|
|2022-07-16 00:00:00|         tag|       17105|
|2022-07-17 00:00:00|      detail|     1635323|
|2022-07-17 00:00:00|        home|      698313|
|2022-07-17 00:00:00|    category|      443161|
|2022-07-17 00:00:00|         tag|       16105|
+-------------------+------------+------------+
only showing top 20 rows

In [13]:
#Top 10 traffic source c√≥ l∆∞·ª£ng truy c·∫≠p cao nh·∫•t

from pyspark.sql.functions import *
group_source=df_source.groupBy('refer').agg(sum('access').alias('total_access')).orderBy('total_access',ascending=False)
group_source.show(10)

+-----------+------------+
|      refer|total_access|
+-----------+------------+
|     google|  1265576301|
|       NULL|   678390825|
|   facebook|   294191864|
|     kenh14|    46361874|
|       soha|    31286779|
|      cafef|    30089621|
|news.google|    27616243|
|     coccoc|     9445743|
|taboolanews|     8075838|
|    afamily|     7493689|
+-----------+------------+
only showing top 10 rows

In [14]:
# Import d·ªØ li·ªáu b·∫£ng website view by cate
query = """(SELECT 
            date, parent_cat, type, site, views
            FROM  website_view_by_cat) 
            AS subquery """
df_cat= spark.read.jdbc(url=url, table=query, properties=properties)

df_cat.show()

+-------------------+--------------------+------+-----+------+
|               date|          parent_cat|  type| site| views|
+-------------------+--------------------+------+-----+------+
|2021-11-01 00:00:00|doanh-nghiep-gioi...|mobile|cafef|  2333|
|2021-11-01 00:00:00|            tien-ich|mobile|cafef|     1|
|2021-11-01 00:00:00|               upcom|    pc|cafef|    12|
|2021-11-01 00:00:00|               other|mobile|cafef| 35950|
|2021-11-01 00:00:00|        bat-dong-san|mobile|cafef|284065|
|2021-11-01 00:00:00|MBS-cong-ty-co-ph...|mobile|cafef|     8|
|2021-11-01 00:00:00|CTS-cong-ty-co-ph...|mobile|cafef|     1|
|2021-11-01 00:00:00|                hose|    pc|cafef|    38|
|2021-11-01 00:00:00|                home|    pc|cafef|342049|
|2021-11-01 00:00:00|du-lieu-doanh-nghiep|mobile|cafef|     7|
|2021-11-01 00:00:00|        doanh-nghiep|    pc|cafef| 48085|
|2021-11-01 00:00:00|nghe-tai-chinh-ng...|    pc|cafef|     1|
|2021-11-01 00:00:00|            thi-truo|    pc|cafef|     6|
|2021-11-01 00:00:00|TVB-cong-ty-co-ph...|mobile|cafef|     3|
|2021-11-01 00:00:00|   tai-chinh-quoc-te|    pc|cafef| 42622|
|2021-11-01 00:00:00|        tim-viec-lam|mobile|cafef|   452|
|2021-11-01 00:00:00|             du-lieu|mobile|cafef|433897|
|2021-11-01 00:00:00|             tin-moi|mobile|cafef| 18749|
|2021-11-01 00:00:00|         nhom-chu-de|mobile|cafef|    53|
|2021-11-01 00:00:00|        bat-dong-san|    pc|cafef| 55115|
+-------------------+--------------------+------+-----+------+
only showing top 20 rows

In [15]:
#S·ªë l∆∞·ª£ng views theo parent_cat

from pyspark.sql.functions import *
group_cat=df_cat.groupBy('date','parent_cat').agg(sum('views').alias('total_views')).orderBy(['date','total_views'],ascending=[True,False])
group_cat.show()

+-------------------+--------------------+-----------+
|               date|          parent_cat|total_views|
+-------------------+--------------------+-----------+
|2021-09-30 00:00:00|                home|     418769|
|2021-09-30 00:00:00|                NULL|     284950|
|2021-09-30 00:00:00|          hau-truong|     274695|
|2021-09-30 00:00:00|            giai-tri|     242285|
|2021-09-30 00:00:00|                song|     190116|
|2021-09-30 00:00:00|           lifestyle|     160498|
|2021-09-30 00:00:00|            giao-duc|     140498|
|2021-09-30 00:00:00|cau-chuyen-kinh-d...|     138310|
|2021-09-30 00:00:00|                 dep|     128197|
|2021-09-30 00:00:00|            suc-khoe|     116223|
|2021-09-30 00:00:00|                quiz|     112254|
|2021-09-30 00:00:00|              tam-su|     112225|
|2021-09-30 00:00:00|           tieu-dung|      97917|
|2021-09-30 00:00:00|            the-gioi|      91797|
|2021-09-30 00:00:00|                 yeu|      81218|
|2021-09-30 00:00:00|              xa-hoi|      77966|
|2021-09-30 00:00:00|             thoi-su|      77109|
|2021-09-30 00:00:00|             an-ngon|      55479|
|2021-09-30 00:00:00|            me-va-be|      37196|
|2021-09-30 00:00:00|                 tag|      23993|
+-------------------+--------------------+-----------+
only showing top 20 rows

In [16]:
# Import d·ªØ li·ªáu b·∫£ng website view by source
query = """(SELECT 
           date, type, refer, site, newsid, views, new_view
            FROM  website_view_by_source) 
            AS subquery """
df_view_source= spark.read.jdbc(url=url, table=query, properties=properties)

df_view_source.show()

+-------------------+------+------+----+-----------------+-----+--------+
|               date|  type| refer|site|           newsid|views|new_view|
+-------------------+------+------+----+-----------------+-----+--------+
|2024-07-23 00:00:00|mobile|  NULL|genk|20240722115150654|   23|    NULL|
|2024-07-23 00:00:00|mobile|  genk|genk|20240513095410082|    4|       4|
|2024-07-23 00:00:00|mobile|  genk|genk|20240628080238254|    6|       1|
|2024-07-23 00:00:00|mobile|google|genk| 2011022806029243|    9|       3|
|2024-07-23 00:00:00|mobile|google|genk|20141020111347011|    3|       3|
|2024-07-23 00:00:00|mobile|google|genk| 2021042616032764|    6|       5|
|2024-07-23 00:00:00|mobile|google|genk| 2024010811061134|    7|    NULL|
|2024-07-23 00:00:00|mobile|google|genk|20240326100800122|    4|       2|
|2024-07-23 00:00:00|mobile|google|genk|20240629101901836|  154|      21|
|2024-07-23 00:00:00|mobile|google|genk|20240709214621586|    9|       2|
|2024-07-23 00:00:00|    pc|  NULL|genk|20240722182344516|    9|    NULL|
|2024-07-23 00:00:00|    pc|  genk|genk|20240509095902233|    4|    NULL|
|2024-07-23 00:00:00|    pc|  genk|genk|20240723105624543|  250|      53|
|2024-07-23 00:00:00|mobile|  NULL|genk|20110401013911795|    7|    NULL|
|2024-07-23 00:00:00|mobile|  NULL|genk|20220920123922977|    3|    NULL|
|2024-07-23 00:00:00|mobile|  NULL|genk|20240720120527457|   11|    NULL|
|2024-07-23 00:00:00|mobile|  NULL|genk|20240721180728285|    4|    NULL|
|2024-07-23 00:00:00|mobile|  genk|genk|20240408153132236|    3|       3|
|2024-07-23 00:00:00|mobile|  genk|genk|20240607143206901|   19|       6|
|2024-07-23 00:00:00|mobile|  genk|genk|20240718141539991|   46|      24|
+-------------------+------+------+----+-----------------+-----+--------+
only showing top 20 rows

In [17]:
#Top 10 traffice source thu h√∫t nhi·ªÅu user m·ªõi nh·∫•t

from pyspark.sql.functions import *
group_view_source=df_view_source.groupBy('refer').agg(sum('new_view').alias('total_new_access')).orderBy('total_new_access',ascending=False)
group_view_source.show(10)

+--------+----------------+
|   refer|total_new_access|
+--------+----------------+
|  google|        23422403|
|  kenh14|        15172361|
|facebook|         8663988|
|    soha|         4251452|
|   cafef|         3102840|
| afamily|         1685151|
| cafebiz|          676174|
|    genk|          552192|
|   gamek|          409922|
|    news|          206397|
+--------+----------------+
only showing top 10 rows

In [20]:
#Merge 2 b·∫£ng info v√† view by source

from pyspark.sql.functions import *

merged_info_view_source = df_info.join(df_view_source, (df_info.newsid == df_view_source.newsid) & (df_info.sourceNews == df_view_source.site),how='right')

In [27]:
#S·ªë l∆∞·ª£ng view theo gi·ªù publish c·ªßa c√°c b√†i vi·∫øt t·ª´ FB,GG

from pyspark.sql.functions import *
filter_merged = merged_info_view_source.filter((col('refer').isin('google','facebool')) & (col('url').isNotNull()))
group_filter=filter_merged.groupBy('refer','publish_hour').agg(sum('views').alias('total_views')).orderBy('publish_hour',ascending=True)
group_filter.show()

+------+------------+-----------+
| refer|publish_hour|total_views|
+------+------------+-----------+
|google|           0|    3198524|
|google|           1|     280188|
|google|           2|      47917|
|google|           3|      68246|
|google|           4|      67332|
|google|           5|     719724|
|google|           6|    3990988|
|google|           7|    6986715|
|google|           8|    4778501|
|google|           9|    5920420|
|google|          10|    7072031|
|google|          11|    5743036|
|google|          12|    2960246|
|google|          13|    4551966|
|google|          14|    7289701|
|google|          15|    6343577|
|google|          16|    4886612|
|google|          17|    3607048|
|google|          18|    2897955|
|google|          19|    5774926|
+------+------------+-----------+
only showing top 20 rows

In [30]:
#Top 10 b√†i vi·∫øt thu h√∫t nhi·ªÅu user nh·∫•t t·ª´ Google

from pyspark.sql.functions import *

filter_merged = merged_info_view_source.filter(col('refer').isin('google') & col('url').isNotNull())
group_merged=filter_merged.groupBy('title','publish_date','url').agg(sum('views').alias('total_views')).orderBy('total_views',ascending=False)
group_merged.show(10)

+--------------------+-------------------+--------------------+-----------+
|               title|       publish_date|                 url|total_views|
+--------------------+-------------------+--------------------+-----------+
|Truy t√¨m Tr·∫ßn Kh√°...|2024-07-31 00:00:00|https://cafef.vn/...|    1136044|
|C√¥ng b·ªë 12 s·ªë ƒëi·ªá...|2024-07-29 00:00:00|https://cafef.vn/...|     747857|
|M·ªôt nh√¢n v·∫≠t tron...|2024-08-08 00:00:00|https://cafef.vn/...|     575903|
|Nam sinh h·ªçc h·∫øt ...|2024-07-22 00:00:00|https://cafef.vn/...|     534382|
|Xu·∫•t hi·ªán qu·∫£ m√≠t...|2024-08-07 00:00:00|https://kenh14.vn...|     516419|
|√îng Tr·ªãnh VƒÉn Quy...|2024-07-23 00:00:00|https://cafef.vn/...|     506687|
|1 m√¨nh chƒÉm m·∫π, k...|2024-08-01 00:00:00|https://kenh14.vn...|     442109|
|B·∫Øt Gi√°m ƒë·ªëc Nguy...|2024-08-03 00:00:00|http://soha.vn/ba...|     403459|
|Ch√™ ti·ªÅn ƒë·ªÅn b√π √≠...|2024-08-04 00:00:00|https://kenh14.vn...|     387577|
|T·ªïng b√≠ th∆∞, Ch·ªß ...|2024-08-18 00:00:00|https://cafef.vn/...|     378718|
+--------------------+-------------------+--------------------+-----------+
only showing top 10 rows